html
{
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
}

.bg
{
	background-color: rgba(0, 0, 0, 0.85);
	width: 50%;
	height: 100vh;
	transform: translateX(50%);
	border-radius: 20px;
	padding: 1px;
}

.nav
{
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.navlink
{
	margin-right: 5px;
	margin-left: 5px;
}

.content
{
	border: none;
	height: 100%;
	width: 100%;
}

h1, h2
{
	text-align: center;
	color: white;
}

button
{
	background-color: black;
	color: white;
}

h3, h4, h5
{
	text-decoration: underline;
	color: white;
}

p
{
	color: white;
}

a {
	text-decoration: none;
}

a
{
	color: #44F;
}

a:hover
{
	color: #f00;
}
